.btn {
    background: none;
    padding: 1rem 2rem;
    color:#fff;
    border: 2px solid #fff;
    cursor: pointer;
    outline: none;

    &.full {
        background: $secondary-color;
        border: 2px solid $secondary-color;
    }

    &.pill {
        background: #202020;
        color: #fff;
        border: 3px solid #202020;
        border-radius: 20px;
        padding: 1rem 2.5rem;
        font-size: 1.4rem;
        box-shadow: 0px 19px 21px 0px rgba(0, 0, 0, 0.15);
        letter-spacing: 1px;
    }
    &.gradient {
        @include linear-gradient(to right, $secondary-color, #f7d783);
        border: none;
        box-shadow: $main-box-shadow;
        font-weight: 700;
        font-size: 1.4rem;
    }
}

