/*=================================
=            Variables            =
=================================*/

/*----------  fonts  ----------*/

$primary-font: 'Montserrat', sans-serif !default;
$heading-font: 'PT Sans', sans-serif !default;
$admin-font: 'Dosis', sans-serif !default;

/*----------  colors  ----------*/

$primary-color: #fff !default;
$secondary-color: #f2be35 !default;
$subtitle-color: #2c2f34;
$link-color: $primary-color !default;
$dark-color: #2f373d !default;

$color-text: #454545 !default;

/*----------  base  ----------*/

$container-width: 1024px !default;
$base-space-unit: 1rem  !default;