
nav {

    @include position(fixed);
    width: 100%;
    z-index: 100;

    .container {
        @include outer-container();
        .row { @include row()}
        .left { @include span-columns(6)}
        .right { @include span-columns(6)}
    }

    .btn {
        float: right;
        margin-left: 10px;
    }
}

.header {
    background: url('../img/DealerBible.jpg') no-repeat center center / cover;
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;

    .intro {
        @include position(absolute,null 0 16.8rem 0);
        z-index: 1;
        h1 {
            color: $primary-color;
            font-weight: bold;
            font-size: 11rem;
            font-style: normal;
            line-height: 1;
            margin: 0;
            text-align: center;
            @include media(max-width 700px) {
                font-size: 8rem;
            }
        }
    }   

    .hero {
        @include position(absolute, null 0 -4rem 0);
        width: 100%;
        &_inner {
            @include outer-container();
            margin-top: -100px;
            background: red;
        }
    }   
}

.perf {
    
}





